{% load sass_tags %}
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header class="header">

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <div class="logo">
                <a href="#home" class="w3-bar-item w3-button w3-wide">
                    <img src="../../static/images/logo.png">
                </a>
            </div>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#about" class="w3-bar-item w3-button">Дом</a>
                <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i>WORK</a>
                <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i>Why VEKTOR?</a>
                <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i>Services</a>
                <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>Contact</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
               onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
         style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
            ×</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
        <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
        <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>
</header>
{% block content %}{% endblock content %}
<footer class="footer">
    <nav class="footer-navigation">
        <div class="w3-panel w3-black">
                <h3>ОСТОРОЖНО!</h3>
                <p>МЫ КАЧЕСТВЕННО ВЫПОЛНЯЕМ СВОЮ РАБОТУ.
                </p>
            </div>
        <div class="w3-panel w3-orange">
                <h3>НАШИ КЛИЕНТЫ - </h3>
                <p>ТЕ, КОМУ СДЕЛАЛИ Д*РЬМОВО В ДРУГОЙ ШЕЛКОГРАФИИ,
                    МЫ СДЕЛАЕМ ВАМ БОЛЬНО ПО-ДРУГОМУ
                </p>
            </div>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>