{% load sass_tags %}
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/css/w3.css">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right custom-right"
               href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/" class="main-page-logo custom-left"><img class="logo"
                                                                src="../../static/images/logo-gray.png"></a>
            <a href="/contacts/" class="w3-bar-item w3-button w3-padding-large w3-hide-small custom-right">Контакты</a>
            <a href="/gallery/" class="w3-bar-item w3-button w3-padding-large w3-hide-small custom-right">Галерея</a>
            <a href="/why-vector/" class="w3-bar-item w3-button w3-padding-large w3-hide-small custom-right">Почему
                МЫ?</a>
            <div class="w3-dropdown-hover w3-hide-small custom-right">
                <button class="w3-padding-large w3-button" title="More">Что МЫ делаем?</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/services/silkscreen/" class="w3-bar-item w3-button">Шелкография</a>
                    <a href="/services/dtf-printing/" class="w3-bar-item w3-button">ДТФ-Печать</a>
                    <a href="/services/embroidery/" class="w3-bar-item w3-button">Вышивка</a>
                    <a href="/services/sublimation_printing/" class="w3-bar-item w3-button">Сублимационная Печать</a>
                    <a href="/services/individual-print/" class="w3-bar-item w3-button">Индивидуальный Принт</a>
                    <a href="/services/printing-special-effects/" class="w3-bar-item w3-button">Печать Специальных
                        Эффектов</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
    </div>

</header>
{% block content %}{% endblock content %}
<footer>
    <div class="banner">
        <div class="banner-wrapper">
            <div class="banner-div-left">
                <h3 class="no-space white">Printed Vector Project since 2003</h3>
            </div>
            <div class="banner-div-right">
                <a href="/contact-us" class="secondary-button white no-space w-button">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="row">
            <div class="column">
                <div class="text-silkscreen">
                    <h3>ОСТОРОЖНО!</h3>
                    <p>МЫ КАЧЕСТВЕННО ВЫПОЛНЯЕМ СВОЮ РАБОТУ.</p>
                </div>
            </div>
            <div class="column">
                <div class="text-silkscreen">
                    <h3> НАШИ КЛИЕНТЫ - </h3>
                    <p>ТЕ, КОМУ СДЕЛАЛИ Д*РЬМОВО В ДРУГОЙ ШЕЛКОГРАФИИ,
                        МЫ СДЕЛАЕМ ВАМ БОЛЬНО ПО-ДРУГОМУ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-closer">
        <div class="copyrights">Copyright © 2018, All Right Reserved Anup</div>
        <div class="contacts"></div>
    </div>
</footer>
</body>
</html>