{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-ind-start">
        <div class="header-wrapper">
            <h1>{{ page.name }}</h1>
        </div>

        <div class="main-container">
            <div class="section-title-gallery">
                <h1> Взгляни на сие великолепие и сделай ПРАВИЛЬНЫЙ выбор, не звони нам! </h1>
            </div>
            <div class="text-silkscreen"></div>
            <div class="row">
                <div class="column">
                    <div class="text-silkscreen">{{ page.text_2 }}</div>
                </div>
                <div class="column">
                    <div class="text-silkscreen">{{ page.text_3 }}</div>
                </div>
            </div>
            <div class="gallery">
                {% for post_id, images in grouped_images %}
                    {% if images %}
                        <div class="gallery-item" id="post_id-{{ post_id }}">
                            <!-- Div for the first image -->
                            <div class="first-gallery-item">
                                <img src="{{ images.0.image_i.url }}" alt="First Image">
                            </div>
                            <!-- Div for all other images -->
                            <div class="other-gallery-items">
                                {% for image in images|slice:"1:" %}
                                    <img src="{{ image.image_i.url }}" alt="Image">
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large">CONTACTS</button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large">Why VEKTOR?</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
