{% extends 'base.html' %}
{% block content %}
    <div class="video-container">
        <video id="background-video" autoplay loop muted
               poster="https://assets.codepen.io/6093409/river.jpg">
            <source src="../../static/videos/vector-back.mp4" type="video/mp4">
        </video>
    </div>
    <div class="main">

        <div class="header-text">
            <h3>MAKES SOMETHING UNIQUE WITH US</h3>
            <h1>VECTOR Screen Printing</h1>
        </div>
        <div class="slogan-wrapper">
            <div class="slogan">
                Наши клиенты, те, кто имеет печальный опыт с другими шелкографиями Мы сделаем вам больно по-другому
            </div>
        </div>
        <div class="text-wrapper">
            <div class="row">
                <div class="column">Deluxe Screen Printing is one of the first female owned and operated Artisan Screen
                    Printing Shops in Los Angeles, CA. established in 2008. After 15+ years working for a larger
                    commercial
                    screen printer, we decided to open our own shop.

                    Our team consists of a sales team that is knowledgeable in all the latest trends

                </div>
                <div class="column">
                    pride in our work. Our services include custom and contract printing, specialty ink techniques such
                    as
                    plastisol, water base/ discharge, foil, puff ink, and metallic inks. We offer high quality inks, and
                    computerized Pantone system which is sure to keep colors accurate from the start and consistent for
                    re-orders.

                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large">CONTACTS</button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large">Why VEKTOR?</button>
                    </div>
                </div>
            </div>
            <div class="w3-panel w3-orange">
                <h3>ОСТОРОЖНО!</h3>
                <p>МЫ КАЧЕСТВЕННО ВЫПОЛНЯЕМ СВОЮ РАБОТУ.
                </p>
            </div>

            <div class="w3-panel w3-white">
                <div class="row">
                    <div class="column">


                    </div>
                    <div class="column">
                        <h1>Работаем с 2003 года и бла бла бла</h1>
                        <h1>Работа с нами - это ДОРОГО, ДОЛГО И БОЛЬНО</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="cat">
                        <div class="ear ear--left"></div>
                        <div class="ear ear--right"></div>
                        <div class="face">
                            <div class="eye eye--left">
                                <div class="eye-pupil"></div>
                            </div>
                            <div class="eye eye--right">
                                <div class="eye-pupil"></div>
                            </div>
                            <div class="muzzle"></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="w3-panel w3-orange">
                        <h3>А ТАКЖЕ</h3>
                        <p>МЫ ЛЮБИМ КОТИКОВ.
                            И ВАМ СОВЕТУЕМ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w3-container">
                <ul class="w3-ul w3-center">
                    <h3>Шелкография</h3>
                    <h3>ДТФ-ПЕЧАТЬ</h3>
                    <h3>ПЕЧАТЬ СПЕЦЭФФЕКТОВ</h3>
                    <h3>ИНДИВИДУАЛЬНЫЙ ПРИНТ</h3>
                    <h3>ВЫШИВКА</h3>
                    <h3>Вечеринки, Вечеринки, Вечеринки</h3>
                </ul>
            </div>
            </body>
        </div>

        <div class="description">
        </div>
        <div class="gallery">
        </div>
    </div>
{% endblock content %}