{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <div class="video">
            <div class="slogan-wrapper">
                <div class="slogan">
                    Наши клиенты, те, кто имеет печальный опыт с другими шелкографиями Мы сделаем вам больно по-другому
                </div>
            </div>
            <div class="center-logo">
                <img class="image-center" src="../../static/images/logo.png">
            </div>
        </div>
        <div class="header-text">
            <h5>MAKES SOMETHING UNIQUE WITH US</h5>
            <h1>VEKTOR Screen Printing</h1>
        </div>
        <div class="text-wrapper">
            <div class="row">
                <div class="column">Deluxe Screen Printing is one of the first female owned and operated Artisan Screen
                    Printing Shops in Los Angeles, CA. established in 2008. After 15+ years working for a larger
                    commercial
                    screen printer, we decided to open our own shop.

                    Our team consists of a sales team that is knowledgeable in all the latest trends

                </div>
                <div class="column">
                    pride in our work. Our services include custom and contract printing, specialty ink techniques such
                    as
                    plastisol, water base/ discharge, foil, puff ink, and metallic inks. We offer high quality inks, and
                    computerized Pantone system which is sure to keep colors accurate from the start and consistent for
                    re-orders.

                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large">CONTACTS</button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large">Why VEKTOR?</button>
                    </div>
                </div>
            </div>
            <div class="w3-panel w3-white">
                <h3>ОСТОРОЖНО!</h3>
                <p>МЫ КАЧЕСТВЕННО ВЫПОЛНЯЕМ СВОЮ РАБОТУ.
                </p>
            </div>

            <div class="w3-panel w3-orange">
                <h3>Работаем с 2003 года и бла бла бла</h3>
                <p>Работа с нами - это ДОРОГО, ДОЛГО И БОЛЬНО</p>
            </div>
            <div class="w3-container">
                <ul class="w3-ul w3-center">
                    <li>Шелкография</li>
                    <li>ДТФ-ПЕЧАТЬ</li>
                    <li>ПЕЧАТЬ СПЕЦЭФФЕКТОВ</li>
                    <li>ИНДИВИДУАЛЬНЫЙ ПРИНТ</li>
                    <li>ВЫШИВКА</li>
                    <li>Вечеринки, банкеты, дни рождения</li>
                </ul>

            </div>
            </body>
        </div>

        <div class="description">
        </div>
        <div class="gallery">
        </div>
    </div>
{% endblock content %}