{% extends 'base.html' %}
{% block content %}
    <div class="video-container">
        <video id="background-video" autoplay loop muted
               poster="https://assets.codepen.io/6093409/river.jpg">
            <source src="../../static/videos/vector-back.mp4" type="video/mp4">
        </video>
    </div>
    <div class="main">
        <div class="header-text">
            <h3>MAKES SOMETHING UNIQUE WITH US</h3>
            <h1>VECTOR Screen Printing</h1>
        </div>
        <div class="slogan-wrapper">
            <div class="slogan">
                Наши клиенты, те, кто имеет печальный опыт с другими шелкографиями Мы сделаем вам больно по-другому
            </div>
        </div>
        <div class="text-wrapper">
            <div class="row">
                <div class="column">Deluxe Screen Printing is one of the first female owned and operated Artisan Screen
                    Printing Shops in Los Angeles, CA. established in 2008. After 15+ years working for a larger
                    commercial
                    screen printer, we decided to open our own shop.

                    Our team consists of a sales team that is knowledgeable in all the latest trends

                </div>
                <div class="column">
                    pride in our work. Our services include custom and contract printing, specialty ink techniques such
                    as
                    plastisol, water base/ discharge, foil, puff ink, and metallic inks. We offer high quality inks, and
                    computerized Pantone system which is sure to keep colors accurate from the start and consistent for
                    re-orders.
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large"><a href="contacts/">CONTACTS</a></button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large"><a href="why-vector/"> Why VEKTOR?</a></button>
                    </div>
                </div>
            </div>
            <div class="gallery">
                {% for post, images in post_images.items %}
                    <div class="gallery-item">
                        {#                    <h5>{{ post.text }}</h5>#}
                        {% if images %}
                            <a href="/post/{{ post.pk }}"><img src="{{ images.0.image_i.url }}" alt="Image"></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    <section>
        <div class="text-for">
            ДЛЯ КОГО?
        </div>
    </section>
        <section class="icons-for">
            <div class="icons-wrapper">
                <i class="fa-solid fa-shirt fa-4x t-shirt"></i>
                <div class="t">Бренды одежды</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-briefcase fa-4x case"></i>
                <div class="t">Коммерция</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-guitar fa-4x music"></i>
                <div class="t">Музыканты</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-palette fa-4x art"></i>
                <div class="t">Художники</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-pizza-slice fa-4x rest"></i>
                <div class="t">Рестораны</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-scissors fa-4x siz"></i>
                <div class="t">Швейные фабрики</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-microphone-lines fa-4x micr"></i>
                <div class="t">Фестивали</div>
            </div>
            <div class="icons-wrapper">
                <i class="fa-solid fa-apple-whole fa-4x shop"></i>
                <div class="t">Магазины</div>
            </div>
        </section>
    </div>
{% endblock content %}