{% extends 'base.html' %}
{% block content %}
    <section class="bg-ind-start">
        <div class="header-wrapper">
            <h1>{{ page.text_1 }}</h1>
        </div>
    </section>
    <div class="main-container">
        <div class="row">
            <div class="column">
                <div class="text-silkscreen">{{ page.text_2 }}</div>
            </div>
            <div class="column">
                <div class="text-silkscreen">{{ page.text_3 }}</div>
            </div>
        </div>
    </div>
{% endblock content %}
