{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-silkscreen-start">
        <div class="header-wrapper">
            <h1>{{ page.name }}</h1>
        </div>
    </section>
    <div class="main-container">
        <div class="text-silkscreen"></div>
        <div class="row">
            <div class="column">
                <div class="text-silkscreen">{{ page.text_2 }}</div>
            </div>
            <div class="column">
                <div class="text-silkscreen">{{ page.text_3 }}</div>
            </div>
        </div>
        <div class="section-title">
            <h1>ОСТОРОЖНО!</h1>
            <p>МЫ КАЧЕСТВЕННО ВЫПОЛНЯЕМ СВОЮ РАБОТУ.</p>
            <div class="slideshow-container">
                <div class="gallery">
                    {% for post, images in post_images.items %}
                        {% for image in images %}
                            <div class="mySlides fade">
                                <div class="numbertext">{{ forloop.counter }} / {{ images|length}}</div>
                                <img src="{{ image.image_i.url }}" alt="Image">
                                <h5>{{ post.text }}</h5>
                            </div>
                        {% endfor %}
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                        <br>
                        <div class="dots" style="text-align:center">
                            {% for dot in images %}
                                <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
                            {% endfor %}
                        </div>
                    {% endfor %}

            </div>
            <script>
                let slideIndex = 1;
                showSlides(slideIndex);

                function plusSlides(n) {
                    showSlides(slideIndex += n);
                }

                function currentSlide(n) {
                    showSlides(slideIndex = n);
                }

                function showSlides(n) {
                    let i;
                    let slides = document.getElementsByClassName("mySlides");
                    let dots = document.getElementsByClassName("dot");
                    if (n > slides.length) {
                        slideIndex = 1
                    }
                    if (n < 1) {
                        slideIndex = slides.length
                    }
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    }
                    for (i = 0; i < dots.length; i++) {
                        dots[i].className = dots[i].className.replace(" active", "");
                    }
                    slides[slideIndex - 1].style.display = "block";
                    dots[slideIndex - 1].className += " active";
                }
            </script>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large">CONTACTS</button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large">Why VEKTOR?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-silkscreen-end">
        <div class="header-wrapper"></div>
    </section>
{% endblock content %}
