{% extends 'base.html' %}
{% block content %}
    <section class="bg-pse-start">
        <div class="header-wrapper">
            <h1>{{ page.name }}</h1>
        </div>
    </section>
    <div class="main-container">
        <div class="row wrapper-special">
            <div class="column">
                <div class="text-align-left name-special">{{ page.name_1 }}</div>
                <div class="text-special text-align-left">{{ page.text_1 }}</div>
            </div>
            <div class="column">
                <div class="image-special"><img src="{{ page.image_1.url }}" alt="Image"></div>
            </div>
        </div>
        <div class="row wrapper-special">
            <div class="column">
                <div class="image-special"><img src="{{ page.image_2.url }}" alt="Image"></div>
            </div>
            <div class="column">
                <div class="text-align-right name-special">{{ page.name_2 }}</div>
                <div class="text-special text-align-right">{{ page.text_2 }}</div>
            </div>
        </div>
        <div class="row wrapper-special">
            <div class="column">
                <div class="text-align-left name-special">{{ page.name_3 }}</div>
                <div class="text-special text-align-left">{{ page.text_3 }}</div>
            </div>
            <div class="column">
                <div class="image-special"><img src="{{ page.image_3.url }}" alt="Image"></div>
            </div>
        </div>
        <div class="row wrapper-special">
            <div class="column">
                <div class="image-special"><img src="{{ page.image_4.url }}" alt="Image"></div>
            </div>
            <div class="column">
                <div class="text-align-right name-special">{{ page.name_4 }}</div>
                <div class="text-special text-align-right">{{ page.text_4 }}</div>
            </div>
        </div>
        <div class="row wrapper-special">
            <div class="column">
                <div class="text-align-left name-special">{{ page.name_5 }}</div>
                <div class="text-special text-align-left">{{ page.text_5 }}</div>
            </div>
            <div class="column">
                <div class="image-special"><img src="{{ page.image_5.url }}" alt="Image"></div>
            </div>
        </div>
    </div>
    <section class="bg-pse-end">
        <div class="header-wrapper"></div>
    </section>
{% endblock content %}