{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-container">
        <div class="page-name"><h1>{{ page.name }}</h1></div>
        <div class="text-silkscreen">{{ page.text }}</div>
        <div class="row">
            <div class="column">
                <div class="text-1-silkscreen">{{ page.text }}</div>
            </div>
            <div class="column">
                <div class="text-2-silkscreen">{{ page.text }}</div>
            </div>
        </div>

        <h2>Посты по шелкографии:</h2>
        <div>
            {% for post in posts %}
                <div class="row">
                    <div class="column">
                        <img src="{{ post.url }}" alt="">
                    </div>
                    <div class="column">
                        <div class="text-4-silkscreen">{{ post.text }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}
