{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-ind-start">
        <div class="header-wrapper">
            <h1>{{ page.text_1 }}</h1>
        </div>
        <div class="main-container">
            <div class="text-why-vector"></div>
            <div class="row">
                <div class="column">
                    <div class="text-why-vector">{{ page.text_2 }}</div>
                </div>
                <div class="column">
                    <div class="text-why-vector">{{ page.text_3 }}</div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-orange w3-border w3-round-large">CONTACTS</button>
                    </div>
                </div>
                <div class="column">
                    <div class="button-wrapper">
                        <button class="w3-btn w3-black w3-border w3-round-large">Why VEKTOR?</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}