@import "cat";

header.header {
  height: 80px;

  .logo {
    background-color: #aaaaaa;


    img {
      width: 60px;
    }
  }
}

div.gallery {
  column-count: 4;
  column-gap: 1em;
  max-width: 1000px;
  margin: 0 auto;

  .gallery-item {
    background: #ddd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
}

.section-title {
  text-align: center;

}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.video-container {
  position: relative;
  width: 100%; /* Ширина контейнера равна ширине body */
  max-width: 1100px; /* Максимальная ширина видео (можно изменить по вашему усмотрению) */
  margin: 0 auto; /* Центрирование контейнера */
}

.video-container video {
  width: 100%; /* Ширина видео равна ширине контейнера */
  height: auto; /* Автоматическое определение высоты для поддержки соотношения сторон */
}


/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  margin-top: 40px;


  .slogan-wrapper {
    .slogan {
      text-align: center;
      color: white;
    }
  }


}


.header-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;


}

.text-wrapper {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    text-align: center;
  }
}

/* Fake image, just for this example */

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.main-container {
  width: 1000px;
  margin: 0 auto;

  .text-silkscreen {
    text-align: justify;

    .row {
      .column {

      }
    }
  }


}

.button-wrapper {
}

.w3-btn {
  margin: 0 auto;

}


.custom-right {
  float: right !important;
}


.bg-silkscreen-start {
  padding: 220px 0 40px 0;
  background: url(../images/silk.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    //background-color: #3a3a3a;
    text-align: center;
    //-webkit-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);
    //-moz-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);
    //box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-silkscreen-end {
  padding: 220px 0 40px 0;
  background: url(../images/IMG_4057.JPG) fixed;
  background-size: cover;
  background-position: center center;

}

.bg-dtf-start {
  padding: 220px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-emb-end {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center;

}

.bg-emb-start {
  padding: 220px 0 40px 0;
  background: url(../images/emb-start.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}
