//@import "cat";

header.header {
  height: 80px;

}

div.gallery {
  column-count: 4;
  column-gap: 1em;
  max-width: 1000px;
  margin: 0 auto;

  .gallery-item {
    background: #ddd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
}

.section-title {
  text-align: center;

}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.video-container {
  position: relative;
  width: 100%; /* Ширина контейнера равна ширине body */
  max-width: 1100px; /* Максимальная ширина видео (можно изменить по вашему усмотрению) */
  margin: 0 auto; /* Центрирование контейнера */
}

.video-container video {
  width: 100%; /* Ширина видео равна ширине контейнера */
  height: auto; /* Автоматическое определение высоты для поддержки соотношения сторон */
}


/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  margin-top: 40px;


  .slogan-wrapper {
    .slogan {
      text-align: center;
      color: white;
    }
  }


}


.header-text {
  font-family: Nunito, sans-serif;
  width: 50%;
  margin: 0 auto;
  text-align: center;


}

.text-wrapper {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    text-align: center;
  }
}

/* Fake image, just for this example */

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.main-container {
  width: 1000px;
  margin: 0 auto;

  .text-silkscreen {
    text-align: justify;
    font-family: Nunito, sans-serif;


    .row {
      .column {

      }
    }
  }


}

.button-wrapper {
}

.w3-btn {
  margin: 0 auto;

}


.custom-right {
  float: right !important;
}


.bg-silkscreen-start {
  padding: 220px 0 40px 0;
  background: url(../images/4.1.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    //background-color: #3a3a3a;
    text-align: center;
    //-webkit-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);
    //-moz-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1); //#shadow
    //box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-silkscreen-end {
  padding: 220px 0 40px 0;
  background: url(../images/shirt.jpg) fixed;
  background-size: cover;
  background-position: center center;

}

.bg-dtf-start {
  padding: 220px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}


.bg-emb-start {
  padding: 220px 0 40px 0;
  background: url(../images/emb-start.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-emb-end {
  padding: 220px 0 40px 0;
  background: url(../images/shirt.jpg) fixed;
  background-size: cover;
  background-position: center center;

}

.bg-pse-start {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-pse-end {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center;

}

.section-footer {
  padding: 250px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center;
  height: 880px;
  background-repeat: no-repeat;
  width: 100%;
}

.section {

  h3 {
    font-size: 20px;
    text-shadow: #000000 1px 1px 0;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

  }

  p {
    font-size: 17px;
    font-weight: 900;

    color: white;
    text-align: center;
  }

  a {
    font-size: 20px;
    font-weight: 500;

    color: white;
    text-align: center;
  }
}

.bg-ind-start {
  padding: 220px 0 40px 0;
  background: url(../images/3.1.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;
    //background-color: rgba(255, 165, 0, 0.5);
    //-webkit-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);
    //-moz-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1); //#shadow
    //box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 1);

    h1 {
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

.bg-sub-start {
  padding: 220px 0 40px 0;
  background: url(../images/4.2.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }

    h5 {
      font-size: 20px;
      color: white;
    }
  }
}

footer {
  background-color: darkgray;
  margin-top: 120px;

  .banner {

    width: 80vw;
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: block;
    position: relative;
    bottom: 40px;
    margin: 0 auto;

    .banner-div-left {
      margin-left: 50px;
      flex-direction: row;
      display: flex;
      grid-area: span 1 / span 2 / span 1 / span 2;
      align-self: center;
      justify-self: start;
    }

    .banner-div-right {
      margin-left: 50px;

      align-self: center;
      justify-self: end
    }
  }


  .footer-content {
    width: 1000px;
    height: 300px;
    padding-bottom: 20px;
    margin: 0 auto;

  }

  .footer-closer {
    width: 1000px;
    height: 50px;
    color: white;
    border-top: 1px solid black;
    margin: 20px auto 0;
    padding-top: 20px;
  }

  .row {
    width: 100%;
    margin-bottom: 20px;

    .column {
      margin: 20px;
      text-align: left;
    }
  }
}

.text-why-vector {
  height: 100px;
  text-align: center;
}

.main-page-logo {
  padding: 6px 16px !important;

  .logo {
    width: 100px;
  }

}

.text-special {
  margin-top: 10px;
  font-size: small;
  color: #666666;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;

}

.image-special > img {
  border-radius: 20px;
}

.image-special > img {
  width: 250px;
  //box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper-special {
  border-top: 1px solid #ccc;
  margin-top: 70px;

}

.name-special {
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.icons-for {
  height: 370px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  color: #3a3a3a;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;


}

.icons-wrapper {
  float: left;
  margin: 50px 62px;

}

.t {
  margin-top: 10px;
  font-family: Nunito, sans-serif;
  color: black;
  font-size: 18px;
  font-weight: bold;

}

.t-shirt {
  color: #3a3a3a;
}

.case {
  color: #3a3a3a;
}

.music {
  color: #3a3a3a;
}

.art {
  color: #3a3a3a;
}

.rest {
  color: #3a3a3a;
}

.siz {
  color: #3a3a3a;
}

.micr {
  color: #3a3a3a;
}

.shop {
  color: #3a3a3a;
}

.text-for {
  margin-top: 10px;
  font-family: Nunito, sans-serif;
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;

}

.bg-contacts-start {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-family: Nunito, sans-serif;
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }
  }
}

.bg-contacts-end {
  padding: 220px 0 40px 0;
  background: url(../images/3.1.jpg) fixed;
  background-size: cover;
  background-position: center center;

  .header-wrapper {
    height: 100px;
    text-align: center;

    h1 {
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700;

    }
  }
}