@charset "UTF-8";
.cat {
  position: relative;
  height: 170px;
  width: 192.1px; }

.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: #161616; }
  .ear::before, .ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #161616; }
  .ear::after {
    transform-origin: 50% 100%; }

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg); }
  .ear--left::before, .ear--left::after {
    right: 10%; }
  .ear--left::after {
    transform: rotate(-45deg); }

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg); }
  .ear--right::before, .ear--right::after {
    left: 10%; }
  .ear--right::after {
    transform: rotate(45deg); }

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #161616;
  border-radius: 50%; }

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #fff;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; }
  .eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: #161616;
    animation: blink 4s infinite ease-in; }

@keyframes blink {
  0% {
    height: 0; }
  90% {
    height: 0; }
  92.5% {
    height: 100%; }
  95% {
    height: 0; }
  97.5% {
    height: 100%; }
  100% {
    height: 0; } }
  .eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%; }

.eye--left {
  left: 0; }
  .eye--left::before {
    right: -5%; }

.eye--right {
  right: 0; }
  .eye--right::before {
    left: -5%; }

.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: #161616;
  border-radius: 50%;
  animation: look-around 4s infinite; }

@keyframes look-around {
  0% {
    transform: translate(0); }
  5% {
    transform: translate(50%, -25%); }
  10% {
    transform: translate(50%, -25%); }
  15% {
    transform: translate(-100%, -25%); }
  20% {
    transform: translate(-100%, -25%); }
  25% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 0); } }
  .eye--left .eye-pupil {
    right: 30%; }
  .eye--right .eye-pupil {
    left: 30%; }
  .eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff; }

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%; }

header.header {
  height: 80px; }
  header.header .logo {
    background-color: #aaaaaa; }
    header.header .logo img {
      width: 60px; }

div.gallery {
  column-count: 4;
  column-gap: 1em;
  max-width: 1000px;
  margin: 0 auto; }
  div.gallery .gallery-item {
    background: #ddd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%; }

.section-title {
  text-align: center; }

div.gallery img {
  width: 100%;
  height: auto; }

div.desc {
  padding: 15px;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.video-container {
  position: relative;
  width: 100%;
  /* Ширина контейнера равна ширине body */
  max-width: 1100px;
  /* Максимальная ширина видео (можно изменить по вашему усмотрению) */
  margin: 0 auto;
  /* Центрирование контейнера */ }

.video-container video {
  width: 100%;
  /* Ширина видео равна ширине контейнера */
  height: auto;
  /* Автоматическое определение высоты для поддержки соотношения сторон */ }

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  margin-top: 40px; }
  .main .slogan-wrapper .slogan {
    text-align: center;
    color: white; }

.header-text {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.text-wrapper {
  width: 70%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px; }
  .row .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    text-align: center; }

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px; }

.main-container {
  width: 1000px;
  margin: 0 auto; }
  .main-container .text-silkscreen {
    text-align: justify; }

.w3-btn {
  margin: 0 auto; }

.custom-right {
  float: right !important; }

.bg-silkscreen-start {
  padding: 220px 0 40px 0;
  background: url(../images/silk.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-silkscreen-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-silkscreen-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-silkscreen-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-silkscreen-end {
  padding: 220px 0 40px 0;
  background: url(../images/IMG_4057.JPG) fixed;
  background-size: cover;
  background-position: center center; }

.bg-dtf-start {
  padding: 220px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-dtf-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-dtf-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-dtf-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-emb-end {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center; }

.bg-emb-start {
  padding: 220px 0 40px 0;
  background: url(../images/emb-start.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-emb-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-emb-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-emb-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

/*# sourceMappingURL=main.css.map */