@charset "UTF-8";
header.header {
  height: 80px; }
  header.header .logo {
    background-color: #aaaaaa; }
    header.header .logo img {
      width: 60px; }

div.gallery {
  column-count: 4;
  column-gap: 1em;
  max-width: 1000px;
  margin: 0 auto; }
  div.gallery .gallery-item {
    background: #ddd;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%; }

.section-title {
  text-align: center; }

div.gallery img {
  width: 100%;
  height: auto; }

div.desc {
  padding: 15px;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.video-container {
  position: relative;
  width: 100%;
  /* Ширина контейнера равна ширине body */
  max-width: 1100px;
  /* Максимальная ширина видео (можно изменить по вашему усмотрению) */
  margin: 0 auto;
  /* Центрирование контейнера */ }

.video-container video {
  width: 100%;
  /* Ширина видео равна ширине контейнера */
  height: auto;
  /* Автоматическое определение высоты для поддержки соотношения сторон */ }

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 10px;
  margin-top: 40px; }
  .main .slogan-wrapper .slogan {
    text-align: center;
    color: white; }

.header-text {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.text-wrapper {
  width: 70%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px; }
  .row .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    text-align: center; }

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px; }

.main-container {
  width: 1000px;
  margin: 0 auto; }
  .main-container .text-silkscreen {
    text-align: justify; }

.w3-btn {
  margin: 0 auto; }

.custom-right {
  float: right !important; }

.bg-silkscreen-start {
  padding: 220px 0 40px 0;
  background: url(../images/4.1.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-silkscreen-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-silkscreen-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-silkscreen-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-silkscreen-end {
  padding: 220px 0 40px 0;
  background: url(../images/1.jpg) fixed;
  background-size: cover;
  background-position: center center; }

.bg-dtf-start {
  padding: 220px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-dtf-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-dtf-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-dtf-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-emb-start {
  padding: 220px 0 40px 0;
  background: url(../images/emb-start.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-emb-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-emb-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-emb-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-emb-end {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center; }

.bg-pse-start {
  padding: 220px 0 40px 0;
  background: url(../images/1.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-pse-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-pse-start .header-wrapper h1 {
      font-size: 55px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-pse-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-pse-end {
  padding: 220px 0 40px 0;
  background: url(../images/hoodie.jpg) fixed;
  background-size: cover;
  background-position: center center; }

.section-footer {
  padding: 250px 0 40px 0;
  background: url(../images/dtf-start.jpg) fixed;
  background-size: cover;
  background-position: center center;
  height: 880px;
  background-repeat: no-repeat;
  width: 100%; }

.section h3 {
  font-size: 20px;
  text-shadow: #000000 1px 1px 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

.section p {
  font-size: 17px;
  font-weight: 900;
  color: white;
  text-align: center; }

.section a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center; }

.bg-ind-start {
  padding: 220px 0 40px 0;
  background: url(../images/3.1.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-ind-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-ind-start .header-wrapper h1 {
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-ind-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

.bg-sub-start {
  padding: 220px 0 40px 0;
  background: url(../images/4.2.jpg) fixed;
  background-size: cover;
  background-position: center center; }
  .bg-sub-start .header-wrapper {
    height: 100px;
    text-align: center; }
    .bg-sub-start .header-wrapper h1 {
      font-size: 45px;
      text-shadow: #000000 1px 1px 0;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .bg-sub-start .header-wrapper h5 {
      font-size: 20px;
      color: white; }

footer {
  background-color: darkgray;
  margin-top: 120px; }
  footer .banner {
    width: 80vw;
    height: 100px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: block;
    position: relative;
    bottom: 40px;
    margin: 0 auto; }
    footer .banner .banner-div-left {
      margin-left: 50px;
      flex-direction: row;
      display: flex;
      grid-area: span 1 / span 2 / span 1 / span 2;
      align-self: center;
      justify-self: start; }
    footer .banner .banner-div-right {
      margin-left: 50px;
      align-self: center;
      justify-self: end; }
  footer .footer-content {
    width: 1000px;
    height: 300px;
    padding-bottom: 20px;
    margin: 0 auto; }
  footer .footer-closer {
    width: 1000px;
    height: 50px;
    color: white;
    border-top: 1px solid black;
    margin: 20px auto 0;
    padding-top: 20px; }
  footer .row {
    width: 100%;
    margin-bottom: 20px; }
    footer .row .column {
      margin: 20px;
      text-align: left; }

.text-why-vector {
  height: 100px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */